.git
target
**/node_modules
.env*
**/__pycache__
*.log

.pnpm-store
docs/.vitepress/dist
docs/.vitepress/cache

apps/mobile/android
apps/mobile/ios
apps/mobile/native
apps/mobile/dist
apps/mobile/public/assets/generated
